<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="pt-20">
      <form action="/login" class="product-form w-full" method="POST">
       <div class="card parent-div-input flex items-center mt-20">
        <div class="card-body center w-96">
        <div class="form-control mb-10 w-full">
            <label for="email" class="text-gray-500 font-bold mb-6 md:mb-0 pr-4">E-MAIL</label>
            <input
                type="email"
                name="email"
                id="email"
                class="p-2 rounded-lg"
                >
        </div>
        <div class="form-control mb-10 w-full">
            <label
            for="password"
            class="text-gray-500 font-bold mb-6 md:mb-0 pr-4">PASSWORD
            </label>
            <input
                type="password"
                name="password"
                id="password"
                class="p-2 rounded-lg"
                >
        </div>
            <button type="submit" class="shadow mt-10 bg-orange-500 hover:bg-yellow-400 focus:shadow-outline focus:outline-none text-white hover:text-black font-bolder py-2 px-4 rounded">
               LOGIN
            </button>
        </div>
        </div>
      </form>
    </main>
<%- include('../includes/end.ejs') %>