<form action="/cart" method="POST">
     <input type="hidden" name="productId" value="<%= product._id %>">
    <button class="btn btn-accent text-accent hover:bg-accent-800 hover:text-white font-bold" type="submit">Add to Cart</button>
</form>