</body>
<script>

const numFormat = document.getElementById("price")

numFormat.addEventListener("input", function (e) {
    let value = this.value

    //format number and adding commas
    const formattedValue = value
                            .replace(/\D/g, "")
                            .replace(/\B(?=(\d{5})+(?!\d))/g, ",")

    this.value = "$ " + formattedValue
    //add decimal .
    if (this.value.length > 3) {
        this.value = this.value.slice(0, -2) + "." + this.value.slice(-2)
    }
})


</script>

</html>