</body>
<script>

// const submitBtn = document.getElementById("addBtn")
// addBtn.addEventListener("click", function (e) {

//     //convert to number
//     let price = document.getElementById("price").value
//     const priceNum = parseFloat(price.replace(/[^0-9.-]+/g,""))
//     document.getElementById("price").value = priceNum

//      e.preventDefault()
// })

//set timeout for message

setTimeout(function () {
    document.querySelector("message").style.display = "none"
}, 3000)

const numFormat = document.getElementById("price")

numFormat.addEventListener("input", function (e) {
    let value = this.value

    //format number and adding commas
    const formattedValue = value
                            .replace(/\D/g, "")
                            .replace(/\B(?=(\d{5})+(?!\d))/g, ",")

    this.value = "$ " + formattedValue
    //add decimal .
    if (this.value.length > 3) {
        this.value = this.value.slice(0, -2) + "." + this.value.slice(-2)
    }
})
//convert price when showed in the page
const price = document.getElementById("price-show").textContent;
//add $ and commas to the price text content
const priceNum = price.replace(/[^0-9.-]+/g,"")
document.getElementById("price-show").textContent = "$ " + priceNum.replace(/\B(?=(\d{3})+(?!\d))/g, ",")

</script>

</html>