<!DOCTYPE html>
<html lang="en" data-theme="business">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script
            src="https://kit.fontawesome.com/8880c8771e.js"
            crossorigin="anonymous">
    </script>
    <script
            src="https://cdn.tailwindcss.com">
    </script>
    <link
            href="https://cdn.jsdelivr.net/npm/daisyui@2.51.3/dist/full.css"
            rel="stylesheet" type="text/css"
            />
    <script
            src="https://cdn.tailwindcss.com"
            >
    </script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,900&display=swap');

        body {
            font-family: 'Raleway', sans-serif;

        }
        .card {
        object-fit: cover;
        }

        #prod-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /* upper case */
        text-transform: uppercase;
        max-width: 200px;

        }

        .message {
        margin: auto;
        width: 30%;
        border: 1px solid #86CBFA;
        background: #4A9EE790;
        padding-top: 5rem;
        padding: 1rem;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        }

        .message-error {
        border-color: #C44141;
        background: #C4414190;
        color: #ffabab;
        }

        textarea.invalid,
        input.invalid {
        border: 1px solid red;
        }


    </style>

    <title><%= pageTitle %></title>
