<%- include('includes/head.ejs') %>
</head>
<body>
   <%- include('includes/navigation.ejs') %>
        <div class=" mt-40">
            <div class="pt-40">
                <h1 class="text-center display-1 text-8xl pb-10">System under Maintenance</h1>
                <h1 class="text-center display-1 text-8xl mb-5">🔨</h1>
                <p class="text-center text-lg">Requst could not be processed</p>
            </div>
            <div class="hero hero-content m-auto">
                <button class="bg-purple-500 hover:bg-yellow-700 hover:text-black text-white font-bold py-2 px-4 rounded mt-20" type="submit">
                    <a href="/">back to home</a>
                </button>
            </div>
    </div>
<%- include('includes/end.ejs') %>