<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/css/input.css">
    <script src="https://kit.fontawesome.com/8880c8771e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>bee beez</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <div class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
                <div class="flex items-center flex-shrink-0 text-white mr-16">
                    <a href="/"><span class="font-semibold text-4xl tracking-tight">bee <i class="fa-solid fa-hippo">beez</i> </span></a>
                </div>
                <div class="block lg:hidden">
                    <button class="flex items-center px-3 py-2 border rounded text-gray-200 border-gray-400 hover:text-white hover:border-white">
                        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <title>Menu</title>
                            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                        </svg>
                    </button>
                </div>
                <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                    <div class="text-lg lg:flex-grow ">
                        <a href="/admin/cart" class="active main-header__list block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-6">
                            SHOP NOW
                        </a>
                         <a href="/about" class="main-header__list block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-6">
                            About
                        </a>
                        <a href="/tech" class="main-header__list block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-6">
                            Technology
                        </a>
                        <a href="/cart" class="main-header__list block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-6">
                            Support
                        </a>
                        <a href="/tech" class="main-header__list block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-6">
                            Dummy
                        </a>
                        <a href="/cart" class="main-header__list block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-6">
                            Dummy
                        </a>
                    </div>
                    <div>
                        <a href="/business" class="text-lg inline-block px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">
                            BUSINESS
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    <main>
        <div class="flex flex-col items-center justify-center min-h-screen py-2 bg-gray-100 sm:px-6 lg:px-8">
            <div class="flex flex-col items-center justify-center w-full space-y-8">
                <div class="flex flex-col items-center justify-center space-y-2">
                    <h1 class="text-8xl font-bold text-gray-900">Welcome</h1>
                    <p class="text-gray-500 text-lg mt-10"><i class="fa-li fa fa-spinner fa-spin"></i></p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <div class="flex flex-col items-center justify-center w-full space-y-4">
                        <h1 class="text-8xl"><i class="fa-solid fa-cart-plus"></i></h1>
                        <p>Here is your shopping cart</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>