<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container hero card m-auto">
            <h1 class="text-8xl mt-20">Orders</h1>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>